body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
    position: relative;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav form {
    display: inline-block;
    margin-left: 20px;
}

nav input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

nav button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

.content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

h1{
    color: white;
    text-align: center;
    size: 100px;
}

p{
    color: white;
    text-align: center;
}

tr{
    color: white;
}